@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles/globals.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: grey;
}

.calculator {
  background-color: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* width: 300px; */
}

.display {
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  text-align: right;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

button {
  padding: 10px;
  font-size: 1.3rem;
  color:white;
  /* background-color: #f1f1f1; */
  border: none;
  cursor: pointer;
  /* border-radius: 8px; */
  /* transition: background-color 0.3s; */
}
button:nth-child(16){
  background-color: rgb(226, 59, 59);
  border-radius: 12px;
}